* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial';
}
  
body {
  background-image: linear-gradient(183deg, rgb(0, 0, 0), rgb(255, 255, 255));
}

h1, 
h3, 
h6,
p#playAgain, 
.display,
#stopwatch,
.minutes,
.seconds,
.milli {
  font-family: 'Bungee Inline', cursive;
}

h6 {

  font-size: 20px;
}

#container, 
#menu-navbar {
  min-width: 320px;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  position: relative;
}

li.leaderboard,
li.theme,
li.info,
li.links,
li.rules,
li.info {
  font-family: 'Bungee Inline', cursive;
  font-size: 21px;
  width: 249px;
  cursor: pointer;
  
}

div.name > strong {
  font-family: 'Bungee Inline', cursive;
  font-size: 22px;
}

#container {
   flex-wrap: wrap;
   flex-direction: column;
   border-bottom-left-radius: 2%;
   border-bottom-right-radius: 2%;
   min-height: 600px;
   height: 98%;
}

#menu-navbar {
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  height: 60px;
  font-size: 2.9rem;
  border-bottom-color: #00000080;
  border-bottom-style: solid;
}
  
i.fas.fa-bars,
i.fas.fa-redo-alt {
  color: #272626;
  text-shadow: 0.1px 0.2px #363434e0;
  font-size: .5em;
  display: inline-block;
  position: relative;
  cursor: pointer;
}
  
[class*="fas"] {
  padding: 3px;
  font-size: 1.77em;
  overflow: hidden;
  position: relative;
}
  
#container {
  flex-wrap: wrap;
  flex-direction: column;
  border-bottom-left-radius: 2%;
  border-bottom-right-radius: 2%;
  height: 98%;
}
  
.display {
  color: rgba(255, 255, 255, 0.78);
  font-size: .58em;
}
  
#stopWatch {
  display: block;
  width: 250px;
  text-align: center;
  position: relative;
}
  
.minutes,
.seconds {
  display: inline-block;
  width: 48px;
}
  
.milli {
  display: inline-block;
  width: 60px;
}
  
img.mmlogo {
 width: 1.4em;
 border-radius: 3%;
}
  
.card-container {
  margin: 1.2%;
  cursor: pointer;
  perspective: 600;
  position: relative;
  width: 21.5%;
  height: 20.5%;
}
  
.card:active {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  transition-duration: 100ms;
}
  
.front {
  backface-visibility: hidden;
  border-radius: 6px;
  position: absolute;
  overflow: hidden;
}
  
.back {
  background-color: #000000;
  border-radius: 6px;
  text-align: center;
  overflow: hidden;
  position: absolute;
}
  
.card {
  height: 98%;
  width: 98%;
  font-size: 2em;
  border-radius: 8%;
  box-shadow: inset 0px 0px 0px 0.2px #777777;
  background-color: #3a3a3a;
  margin-left: 4.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
#user-menu {
  opacity: 0;
  position: absolute;
  overflow-wrap: normal;
  border-width: 1px;
  border-right-style: solid;
  left: 0;
  top: 0;
  padding-bottom: 19px;
  width: 250px;
  height: 233px;
  border-bottom-style: solid;
  margin-top: -1;
}
  
.menu-items {
  text-align: center;
  position: relative;
  font-size: 1.1rem;
  line-height: 35px;
  font-weight: bold;
  list-style-type: none;
}
  
.leaderboard {
  border-top-style: solid;
  border-top-color: #080907;
  border-top-width: .1px;
}

#leaderboard,
#theme,
#links,
#rules,
#info {
  opacity: 0;
  display: flex;

}
  
.champion,
.first,
.second,
.third,
.fourth,
.fifth,
.name,
.previous {
  padding: 0px, 0px, 0px, 3px;
  text-align: center;
  line-height: 40px;
}
  
.name {
  font-family: 'Bungee Inline', cursive;
  color: #ffffff;
}
  
.champion {
  margin-top: 19px;
  color: #000000
}
  
.time {
  font-size: 20px;
  line-height: 15px;
  margin-bottom: 3px;
}
  
.previous {
  margin: 100px;
  line-height: 47px;
  font-size: 14px;
  padding-right: 4px;
  padding-left: 4px;
  cursor:pointer;
}
  
.red {
    margin-top: 5px;
  }
  
.square {
  width: 120px;
  height: 38px;
  display: inline-flex;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  margin:7;
}
  
#red-square {
  background-color: rgb(238, 0, 29);
  
}
  
#blue-square {
  background-color: #1a2392;
}
  
#green-square {
   background-color: #1a922a;
}
  
#orange-square {
  background-color: #a45009;
}
  
#dark-square {
  background-color: #101010;
}
  
.colors {
  text-align: center;
  line-height: 50px;
}
  
#user-content {
  height: 233px;
}
  
h1 {
  font-size: 2.5rem;
  line-height: 55px;
  width: 250px;
   
 }
  
h3 {
    padding: 3px;
    text-align: center;
    font-size: 2.4rem;
    line-height: 65px;
    
  }
  
 a {
    margin: 8px;
    font-size: 21px;
    color: #000000;
    font-weight: bold;
  }
  
div#udemy {
   margin-top: 19;
}
  
p.rules, 
p.info {
  font-size: 19px;
  width: 210;
  width: 220;
  margin-left: 15;
  margin-bottom: 15;
}
  
h1.rules {
  text-align: center;
  font-size: 62px;
  margin-top: 8;
  margin-bottom: 5;
}

h1.info {
  text-align: center;
  font-size: 40;
  line-height: 1.1; 
  margin-top: 8;
  margin-bottom: 12;
}

h5.info {
  font-size: 1.6rem;
    text-align: center;
  }
  
strong.authorname {
  font-family: 'Bungee Inline', cursive;
  font-size: 20px;
  margin-left: 8;
  line-height: 1.2;
}

strong.email {
  font-size: 17px;
  margin-left: 8;
  
}

p.author,
p.contact {
  margin-left: 8;
  margin-top: 8;
  font-size: 19px;
}

p.author {
  margin-top: 30px;
}

em {
  font-size: 27px;
}

p.udemy,
p.andrei,
p.colt,
p.imran {
  font-size: 18px;
  margin-top: 2;
  margin-bottom: 12px;
  margin-left: 8;
  margin-right: 8;
}

p.imran {
  margin-bottom: 0;
}
  
  /* Allow squares to be clickable when menu is active. */
#container>div.card-container.\31 0,
#container>div.card-container.\31 4 {
  z-index: 1;
}
  
#winner {
  z-index: 3;
  width: 300;
  height: 175;
  background-color: #d2ad6c;
  margin-top: 30;
  flex-wrap: wrap;
  position: absolute;
  border-radius: 3%;
  overflow: hidden;
  border-color: black;
  border-style: solid;
  border-width: 2;
  display: none;
  align-self: center;
}
  
h1.winner {
  font-size: 26px;
  margin-left: 9;
  margin-top: 0;
 }
  
p.winner {
  font-size: .8rem;
  margin-left: 45;
  line-height: 0;
  margin-top: 0;
}
  
 p.max {
  margin-left: 54;
  margin-bottom: 2;
  font-size: 10px;
  font-weight: bold;
  margin-top: 25;
 }
  
input[type="text"] {
  margin-left: 37;
  height: 33;
  width: 230;
}
  
 input[type="submit"] {
  margin-top: 3;
  margin-left: 128;
  border-radius: 3;
  box-shadow: brown;
  padding: 2.5;
  background-color: #c5c5c5;
  size: 24px;
}
  
p.playAgain {
  margin-top: 7;
  margin-left: 140;
  margin-bottom: 0;
  font-size: 18;
  font-weight: bold;
  width: inherit;
}
  
p#playAgain {
  font-size: 22;
  font-weight: bold;
  width: 200;
  margin-top: -8;
  margin-left: 84;
}
  
button#submit {
  width: 100;
  height: 25;
  margin-left: 103;
  margin-top: 4;
  background-color: #cac2b3;
}
  
.match,
.disabled {
  pointer-events: none;
}

@media (min-width: 0px) and (max-width: 475px) { 
  [class*="fas"] {
    font-size: 1.2em;
  }
  
  img.mmlogo {
    width: 1em;
  }
}

  